    <style>
        body {
            background-color: #23262e;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            height: 100vh;
            margin: 0;
        }

        h1 {
            font-weight: bold;
            margin: 0;
            color: white;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            letter-spacing: 0.5px;
            color: white;
        }

        form {
            background-color: #202124;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            text-align: center;
            border-radius: 10px;
        }

        input {
            background-color: #FFFFFF;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
            color: black;
            border-radius: 10px;
        }

        .email-button {
            border-radius: 20px;
            border: 1px solid rgb(0, 147, 0);
            background-color: rgb(0, 147, 0);
            color: #FFFFFF;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
            cursor: pointer;
        }

        button:active {
            transform: scale(0.95);
        }

        button:focus {
            outline: none;
        }

        a {
            color: #979797;
            font-size: 14px;
            text-decoration: none;
            margin: 15px 0;
        }

        ul {
            color: white;
            text-align: left;
        }
    </style>
{% block content %}
<h1>Установка пароля</h1>
{% if validlink %}
<p>Пожалуйста введите новый пароль:</p>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" class="email-button" value="Изменить пароль" /></p>
</form>
{% else %}
<p>Ссылка для сброса пароля оказалась недействительной, возможно, потому что она
 уже была использована. Пожалуйста, запросите новый сброс пароля.</p>
{% endif %}
{% endblock %}