<style>
    body {
        background-color: #23262e;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        margin: 0;
    }

    h1 {
        font-weight: bold;
        margin: 0;
        color: white;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
        color: white;
    }

    form {
        background-color: #202124;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        text-align: center;
    }

    input {
        background-color: #202124;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
        color: white;
    }

    .email-button {
        border-radius: 20px;
        border: 1px solid rgb(0, 147, 0);
        background-color: rgb(0, 147, 0);
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    a {
        color: #009300;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    a:hover {
        color:chartreuse;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }
</style>
{% block content %}
<h1>Пароль установлен</h1>
<p>Ваш пароль был изменён. Теперь вы можете <a href="{% url "login" %}">войти в аккаунт.</a></p>
{% endblock %}