{% extends 'index/layout.html' %}
{% load static %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<style>
    body,html {
        height: 100%;
    }
    body {
        background: #202124;   
        font-family: 'Montserrat', sans-serif;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 6%;
    }
    .user-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        background-color: #fff;
        border-radius: 10px;
        padding: 40px;
        width: 650px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
    }
    .edit-card {
        align-items: center;
        background-color: #2d2f34;
        border-radius: 12px;
        padding: 40px;
        width: 700px;
        position: relative;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        color: #fff;
        margin-bottom: 50px;
    }
    .icon-without-navbar {
        margin-top: 10px;
        margin-right: 10px;
    }
    .info form {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }
    .info label {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .info input, .info select, .info textarea {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: none;
        margin-bottom: 10px;
        background-color: #3b3e43;
        color: #fff;
        font-size: 14px;
    }
    .info input[type="submit"] {
        background-color: #008000;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .info input[type="submit"]:hover {
        background-color: #008000;
    }
    .info select {
        font-size: 14px;
    }
    .green-button {
        background-color: #008000;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .green-button:hover {
        background-color: #008000;
    }
    .user-card:before {
        content: '';
        position: absolute;
        height: 500%;
        width: 173px;
        background: #008000;
        top: -120px;
        left: -250px;
        z-index: 0;
        transform: rotate(17deg);
    }
    
    .user-card-img {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;   
        z-index: 3;
    }
    
    .user-card-img img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .user-card-info {
        text-align: center;
        color: black;
    }
    
    .user-card-info h2 {
        font-size: 24px;
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 3px;
    }
    
    .user-card-info p {
        font-size: 14px;
        margin-bottom: 2px;
    }
    .user-card-info p span {
        font-weight: 700;
        margin-right: 10px;
    }
    .edit-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #000;
        cursor: pointer;
    }
    @media only screen and (min-width: 768px) {
        .user-card {
            flex-direction: row;
            align-items: flex-start;
        }   
        .user-card-img {
            margin-right: 20px;
            margin-bottom: 0;
        }
        
        .user-card-info {
            text-align: left;
        }
    }

    @media (max-width: 767px){
        .wrapper{
            padding-top: 3%;
        }
        .user-card:before {
            width: 300%;
            height: 200px;
            transform: rotate(0);
        }
        .user-card-info h2 {
            margin-top: 25px;
            font-size: 35px;
        }
        .user-card-info p span {
            display: block;
            margin-bottom: 15px;
            font-size: 18px;
        }
    }
</style>
<body>
    {% if request.user.is_staff %}
        <div class="topnav">
            <div class="nav-padding">
                <span class="nav-ham" id="nav-ham" onclick="toggleSidebar()">&#9776;</span>
                <a href="{% url 'index' %}" title="Формы">
                    <img src="{% static 'Icon/site-icon.png' %}" alt="Dazzle Forms Icon" class="navbar-icon form-icon">
                </a>
                <span class="nav-text" title="Формы"><a href="{% url 'index' %}" class="nav-link">Dazzle Forms</a></span>
                <a href="{% url 'logout' %}">
                    <img src="{% static 'Icon/logout.png' %}" alt="Logout Icon" class="navbar-icon float-right logout-icon" title="Выйти из аккаунта">
                </a>
            </div>
        </div>
    {% endif %}
    {% if not request.user.is_staff %}
        <a href="{% url 'logout' %}">
            <img src="{% static 'Icon/logout.png' %}" alt="Logout Icon" class="navbar-icon float-right logout-icon icon-without-navbar" title="Выйти из аккаунта">
        </a>
    {% endif %}
    <div class="wrapper">
        <div class="user-card">
            <div class="user-card-img">
                {% with profile_image=user.image_info.first %}
                    {% if profile_image and profile_image.image %}
                        <img id="profileImage" src="{{ profile_image.image.url }}" alt="Фото профиля">
                    {% else %}
                        <img id="profileImage" src="{% static 'Icon\user.jpg' %}" alt="Фото профиля">
                    {% endif %}
                {% endwith %}       
            </div>
            <div class="user-card-info">
            <i class="bi bi-pencil-square edit-icon" onclick="toggleEditProfile(event)"></i>
              <h2>{{ request.user }}</h2>
              <p><span>Статус:</span>{% if user.is_superuser %}Руководитель{% elif user.is_staff %}Тренер{% else %}Пользователь{% endif %}</p>
              <p><span>Email:</span>{{ request.user.email }}</p>
              <p><span>Дата регистрации:</span>{{ request.user.date_joined }}</p>
              <p><span>Регион:</span> {% if user_city.city %}{{ user.city_info.get_city_display }}{% else %}Не указано{% endif %}</p>
              <p><span>Медцентр:</span> 
                {% if user.med_info and user.med_info.med_center %} 
                    {{ user.med_info.med_center }} 
                {% else %} 
                    Не указано 
                {% endif %}
              </p>
              <p><span>Дата рождения:</span> {% if user.dateofbirth %}{{ user.dateofbirth.date_of_birth|date:'Y-m-d' }} ({{ user.dateofbirth.age }}){% else %}Не указано{% endif %}</p>
              <p><span>Пол:</span> 
                {% if user.usergender.gender == 'O' %}
                Не указано
                {% elif user.usergender.gender == 'M' %}
                Мужской
                {% elif user.usergender.gender == 'F' %}
                Женский
                {% else %}
                Не указано
                {% endif %}
              </p>
              {% if request.user.desc_info %}<p><span>О себе:</span> {{ request.user.desc_info.desc }}</p>{% endif %}
            </div>
        </div>
    </div>
    <div class="page">
        <div class="wrapper">
            <div id="edit_profile_page" class="info edit-card" style="display: none">
                <div id="imageURLContainer">
                    <form method="post" action="{% url 'change_profile_image' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="id_username">Выберите файл изображения</label>
                        <label for="imageFile" class="custom-file-upload" id="fileLabel">
                            Файл не выбран
                        </label>
                        <input type="file" id="imageFile" name="imageFile" accept="image/*" style="display: none;" onchange="document.getElementById('fileLabel').innerText = this.files[0].name">
                        <button class="green-button" type="submit">Изменить фото</button>
                    </form>
                    {% if user.is_authenticated %}
                        {% with profile_image=user.image_info.first %}
                            {% if profile_image %}
                                <form method="post" action="{% url 'delete_profile_image' %}">
                                    {% csrf_token %}
                                    <button class="green-button" type="submit">Удалить фото</button>
                                </form>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </div>
                <form method="post" action="{% url 'change_username' %}">
                    {% csrf_token %}
                    <label for="id_username">Введите ваш новый ник:</label>
                    <input type="text" name="username" id="id_username" value="{{ request.user.username }}" required>
                    <input type="submit" value="Применить">
                </form>
                <form method="post" action="{% url 'change_email' %}">
                    {% csrf_token %}
                    <label for="id_email">Введите вашу новую почту:</label>
                    <input type="email" name="email" id="id_email" value="{{ request.user.email }}" required>
                    <input type="submit" value="Применить">
                </form>
                <form method="post" action="{% url 'change_gender' %}">
                    {% csrf_token %}
                    <label for="gender">Укажите ваш пол:</label>
                    <select name="gender" id="gender">
                        <option value="O" {% if user.usergender.gender == 'O' %}selected{% endif %}>Не указано</option>
                        <option value="M" {% if user.usergender.gender == 'M' %}selected{% endif %}>Мужской</option>
                        <option value="F" {% if user.usergender.gender == 'F' %}selected{% endif %}>Женский</option>
                    </select>
                    <input type="submit" value="Применить">
                </form>
                <form method="post" action="{% url 'change_date_of_birth' %}">
                    {% csrf_token %}
                    <label for="date_of_birth">Укажите дату рождения:</label>
                    <input type="date" id="date_of_birth" name="date_of_birth" value="{{ user.dateofbirth.date_of_birth|date:'Y-m-d' }}" style="color: white;" class="calendar-icon-white">
                    <input type="submit" value="Применить">
                </form>
                <style>
                    input[type="date"]::-webkit-calendar-picker-indicator {
                        filter: invert(1);
                    }
                </style>
                <form method="post" action="{% url 'change_desc' %}">
                    {% csrf_token %}
                    <label for="desc">Описание:</label>
                    <textarea name="desc" id="desc" rows="4">{{ request.user.desc_info.desc }}</textarea>
                    <input type="submit" value="Применить">
                </form>
                <form method="post" action="{% url 'edit_profile' %}">
                    {% csrf_token %}
                    <label for="City">Ваш город:</label>
                    <select id="City" name="City">
                        <option value="" {% if not user_city.city %}selected{% endif %}>Выбрать город</option>
                        {% for value, display in city_choices %}
                            <option value="{{ value }}" {% if user_city.city == value %}selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Применить">
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function handleFileSelect(evt) {
    var files = evt.target.files;

    for (var i = 0, f; f = files[i]; i++) {

      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      reader.onload = (function(theFile) {
        return function(e) {
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('list').insertBefore(span, null);

          var img = document.getElementById('file');
          img.src = theFile.name;
        };
      })(f);

      reader.readAsDataURL(f);
    }
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);

    function changeProfileImage() {
      var imageUrl = document.getElementById("imageURL").value;
      var profileImage = document.getElementById("profileImage");

      if (imageUrl) {
        profileImage.src = imageUrl;
        document.getElementById("imageURLContainer").style.display = 'none';
      } else {
        alert("Введите ссылку на новое фото!");
      }
    }
    function validateImageUrl() {
        var imageUrl = document.getElementById("imageURL").value;
        var validImageUrlPattern = /\.(jpeg|jpg|png|gif)$/i;
        
        if (!validImageUrlPattern.test(imageUrl)) {
            alert("Введите корректную ссылку на изображение (.jpeg, .jpg, .png, .gif)!");
            return false; 
        }
        return true; 
    }
    function toggleEditProfile(event) {
        if (event) {
            event.stopPropagation();  // останавливает всплытие события
        }
        var imageEditContainer = document.getElementById("edit_profile_page");
        imageEditContainer.style.display = (imageEditContainer.style.display === 'none' || imageEditContainer.style.display === '') ? 'block' : 'none';
    }
  </script>
{% endblock %}

