{% extends 'index/layout.html' %}
{% load static %}
{% block script %}
<script src="{% static 'index/index.js' %}" defer></script>
<script src="{% static 'lib/cookie.min.js' %}" defer></script>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="topnav nav-effect">
        <div class="nav-padding">
            <span class="nav-ham" id="nav-ham" onclick="toggleSidebar()">&#9776;</span>
            <a href="{% url 'index' %}" title="Forms">
                <img src="{% static 'Icon/site-icon.png' %}" alt="Dazzle Forms Icon" class="navbar-icon form-icon">
            </a>
            <span class="nav-text" title="Forms"><a href="{% url 'index' %}" class="nav-link">Dazzle Forms</a></span>
            <a href="{% url 'logout' %}">
                <img src="{% static 'Icon/logout.png' %}" alt="Logout Icon" class="navbar-icon float-right logout-icon" title="Logout">
            </a>
        </div>
        <div class="header-search">
            <input type="text" id="user-search-input" placeholder="Введите текст для поиска по списку...">
            <button type="button" onclick="searchUsers()">Поиск</button>
        </div>
    </div>

    <img src="{% static 'Icon/delete.png' %}" alt="Delete Icon" style="cursor: pointer; margin: 10px; width: 30px; height: 30px;" class="navbar-icon float-right delete-icon" title="Delete" onclick="showDeleteOptions()">

    <form id="delete-users-form" action="{% url 'delete_users' %}" method="post">
        <div class="delete-nav" id="delete-options" style="display: none;">
            <button type="submit" class="delete-user-list delete-form-list">Удалить выделенное</button>
            <p><button type="button" onclick="selectAllUsers()" class="select-all-btn">Выделить все</button></p>
            <p><button type="button" onclick="reselectAllUsers()" class="reselect-all-btn">Убрать выделение</button></p>
        </div>
        {% csrf_token %}
        <div class="container main-topnav">
            <div class="form-list" style="background-color: #1a1a1a; margin-top: 20px;">
                {% for user in users %}
                <a class="form-list-link" href="{% url 'user_detail' user.pk %}">
                    <div class="form-box">
                        <div class="form-list-title"><h5 class="form-list-title-text">{% if user.username|length > 30 %}{{ user.username|slice:":30" }}...{% else %}{{ user.username }}{% endif %}</h5></div>
                        <p class="form-list-timestamp descrip">{{ user.email }}</p>
                        <input type="checkbox" name="selected_users[]" class="form-checkbox" style="display: none; position: absolute; top: 10px; left: 10px;" value="{{ user.id }}">
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deleteOptions = document.getElementById('delete-options');

            window.showDeleteOptions = function () {
                deleteOptions.style.display = deleteOptions.style.display === 'block' ? 'none' : 'block';
                var checkboxes = document.querySelectorAll('.form-checkbox');
                checkboxes.forEach(function (checkbox) {
                    checkbox.style.display = deleteOptions.style.display === 'block' ? 'block' : 'none';
                });
            };

            window.selectAllUsers = function () {
                var checkboxes = document.querySelectorAll('.form-checkbox');
                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = true;
                });
            };

            window.reselectAllUsers = function () {
                var checkboxes = document.querySelectorAll('.form-checkbox');
                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = false;
                });
            };

            var userLinks = document.querySelectorAll('.form-list-link');
            userLinks.forEach(function (userLink) {
                userLink.addEventListener('click', function (event) {
                    if (deleteOptions.style.display === 'block') {
                        event.preventDefault();
                        var checkbox = userLink.querySelector('.form-checkbox');
                        checkbox.checked = !checkbox.checked;
                    }
                });
            });

            window.searchUsers = function () {
                var searchInput = document.getElementById('user-search-input').value.toLowerCase();
                var userLinks = document.querySelectorAll('.form-list-link');

                userLinks.forEach(function (userLink) {
                    var username = userLink.querySelector('.form-list-title-text').textContent.toLowerCase();
                    var checkbox = userLink.querySelector('.form-checkbox');

                    if (username.includes(searchInput)) {
                        userLink.style.display = 'block';
                        checkbox.style.display = deleteOptions.style.display === 'block' ? 'block' : 'none';
                    } else {
                        userLink.style.display = 'none';
                        checkbox.style.display = 'none';
                    }
                });
            };
        });
    </script>
</div>
{% endblock %}
